# trivial files
\.DS_Store
sftp-config.json

# compilation and distribution
__pycache__
_ext
*.pyc
*.so
roadtensor.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# Pycharm editor settings
.idea

# project dirs
/datasets
/models
/output

# vscode
.vscode

*.txt
*.bak
workdir/*

